/* Colors */
*{

    --light-bg: #f7f7f7;
    --light-bg2: #ECF0F1;

    --dark-bg: #2C3E50;

    --light-text: white;
    --dark-text: #333;

    --accent: #2980B9;
    
    scroll-behavior: smooth;

}
/* General Styling */
body {
    overflow-x: hidden;
    box-sizing: content-box;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: var(--light-bg);
    color: var(--dark-text);
    margin: 0;
    padding: 0;

    
    background-image: url("./public/test.jpg");
    background-size: cover;
    
}

header,
footer {
    background-color: var(--dark-bg);
    color: var(--light-text);
    padding: 20px 0;
    text-align: center;
}

/* Cards */

.showcase {
    padding: 0.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    border-radius: 2rem;
    border: 1px var(--dark-bg);
    box-shadow:  3px 6px rgba(0, 0, 0, 0.1);
    font-size: x-large;

}


.cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

a.anchor {
    display: block;
    position: relative;
    top: -40vh;
    visibility: hidden;
}

.card {
    width: 15vw;
    min-height: 25vh;
    text-overflow: ellipsis;
    
    /* flex: 0; */

    border-radius: 2rem;
    padding: 2rem;

    box-shadow:  6px 12px rgba(0, 0, 0, 0.1);
    /* box-shadow: #BDC3C7 1px ; */
}


/* Sections */

section {
    padding: 0.5rem;
}

.section-light {
    background-color: var(--light-bg2);
    color: var(--dark-text);
}

.section-dark {
    background-color: var(--dark-bg);
    color: var(--light-text);
}

/* Navigation */
header{
    position: sticky;
    top: 0;
    position: -webkit-sticky;
    z-index: 1000;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

}

a {
    text-decoration: none;
    color: var(--light-text);
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Welcome */

#welcome {
    display: flex;
    align-items: center;
    justify-content: center;


    color: var(--light-text);

    /* background-image: url(../public/bgtest.jpg); */
    background-image: -webkit-linear-gradient(var(--dark-bg), var(--accent));
    /* background-image: url(public/test.jpg); */
    /* opacity: 0.2; */
}

/* Unternehmensvorstellung */

#unternehmensvorstellung {
    /* background-color: rgba(0, 0, 0, 0.1); */
}

/* Unsere Werte */
/* #unsere-werte {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
} */

/* Dienstleistungen */

/* Vorteile mit Uns */

/* Tätigkeiten */

/* Contact */

#kontakt {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 50%;
}

form {
    width: 75%;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: auto;
}

input,
textarea {
    margin-bottom: 15px;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #BDC3C7;
}

button {
    padding: 12px;
    background-color: #2980B9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #3498DB;
}




/* 

#unternehmensvorstellung {
    fill-opacity: 10%;
}

#taetigkeiten .cards .card {
    width: 80vw;
}

h2 {
    color: #2980B9;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.card {
    background-color: #ECF0F1;
    border-radius: 10px;
    padding: 20px;
    flex: 1;
    min-width: 250px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.card h3 {
    color: #2C3E50;
}





.section-dark .card {
    color: #333;
}

.card img,
.icon {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

.icon-small {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
} */


li::before {
  
    /* content: url('./fontawesome/svgs/solid/circle-check.svg'); */
  content: "\f00c"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  font-size: small;
}



@media (max-width: 1580px)  {
    .card { 
        width: 40%;
        height: fit-content;
     }
    
     #kontakt {
        flex-direction: column;
     }

    
}
@media (max-width: 800px )  {
    .card { 
        width: 100%;
        height: fit-content;
     }

     .showcase{
        font-size: medium;
     }
    
     #kontakt {
        flex-direction: column;
     }

    
}

@media (max-width: 600px )  {


     .showcase{
        font-size: small;
     }    
}


