:root{
    /* @import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,400;0,700;1,200;1,400;1,700&display=swap'); */
    --dark: #3D405B;
    --light: #F4F1DE;
    --orange: #E07A5F;
    --green: #81B29A;
    --yellow: #F2CC8F;

    --bdazzled-blue: #3d5a80ff;
    --dark-sky-blue: #98c1d9ff;
    --light-cyan: #e0fbfcff;
    --burnt-sienna: #ee6c4dff;
    --gunmetal: #293241ff;
  }
  